In [14]:
def scream():
    print('Hello')
scream()

Hello

In [18]:
def square(num):
    out = num**2
    return(out)

In [17]:
sq_3 = square(3)
print(sq_3)

9

In [21]:
def square(num):
    out = num**2
    print(out)

In [22]:
q = square(4)
print("Q is"+str(q))

16
Q isNone

In [23]:
def factorial(n):
    if n>1:
        return n*factorial(n-1)
    else:
        return n

fact = factorial(5)
print(fact)

120

In [24]:
def addition(*args):
    print(args)
    return(sum(args))

In [25]:
print(addition(4,5,6,7,8,9))
print(addition(1,2))

(4, 5, 6, 7, 8, 9)
39
(1, 2)
3

In [26]:
def proper(some_text):
    some_text = some_text.strip()
    some_text = " ".join([word[0].upper() + word[1:] for word in some_text.split()])
    return some_text

captain = proper("mahendra singh dhoni")
print(captain)

Mahendra Singh Dhoni

In [27]:
string_to_list = lambda x: x.split()
print(string_to_list(captain))
print(type(string_to_list))

['Mahendra', 'Singh', 'Dhoni']
<class 'function'>

In [28]:
product = lambda x, y : x*y
print(product(3,4))

12

In [32]:
greater=lambda x,y: x if x>y else y
print(greater(1,2))
print(greater(3,4))

2
4

In [35]:
# list
flist=[2,4,5]

#creating new list using lambda and list expression
#lamda expression
sql=lambda x: x**2
#list expression
slist=[sql(e) for e in flist]
print(slist)

#smlist is second list created via map function of lamda
smlist=list(map(lambda x: x**2,flist))
print("smlist: ", smlist)

[4, 16, 25]
smlist:  [4, 16, 25]

In [39]:
#find number divisible by 50 using filters
num_list=[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50]
filteredList=list(filter(lambda x:x%5==0,num_list))
print(filteredList)
## doing same with map
mapList=list(map(lambda x:x if x%5==0,num_list))
print("filtered with map: ",mapList)

SyntaxError: invalid syntax (<ipython-input-39-ef9e6b1ce419>, line 6)